<div class="text-align-center cont-chat">
  <div class="connected">
    <div  class="inline-block">
      <div class="user">Elina usuaria</div>
      <button>Cerrar Sesión</button>
    </div>
    <div class="icon-user inline-block">
      <img src="" alt="">
    </div>
  </div>
  <div class="chat">
    <div name="message-receptor"> hola como estas?</div>
    <div name="message-emisor"> bien y tu?</div>
  </div>
  <div class="cont-message-send">
    <input type="text" class="message">
    <button class="send-message">Enviar</button>
  </div>

</div>
